body {
    background-color:rgb(218, 230, 230);
    font-family:sans-serif;
}

h1 {
    font-style: italic;
    color:rgb(7, 7, 98);
}

h2 {
    color:rgb(7, 7, 98);
}

h3 {
    color:rgb(7, 7, 98);
}

a {
    text-decoration: none;
}

@media all and (max-width: 768px) {
    .logo {
        visibility:visible;
        display:block;
    }
    
    .curriculo {
        display: block;
        width: 70%;
        padding: 0;
        margin: 5px auto;
        float: none;
    }

    
}
